
 <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '<%- process.env.FACEBOOK_APP_ID %>',
        xfbml      : true,
        version    : 'v2.6'
      });
      FB.Event.subscribe('send_to_messenger', function(e) {
        // callback for events triggered by the plugin
      
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

    
  </script>

  <center>
    <h1>Messenger bot Botkit</h1>
    <h2>Demo with Express and MongoDB</h2>

    <div class="fb-send-to-messenger"
      messenger_app_id="<%- process.env.FACEBOOK_APP_ID %>"
      page_id="<%- process.env.FACEBOOK_PAGE_ID %>"
      data-ref="PASS_THROUGH_PARAM"
      color="blue"
      size="xlarge"></div>
  </center>